* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Nabla';
  src: url(../media/Fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf)
    format('truetype');
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 20rem;
  > form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

#title {
  margin-top: 2rem;
  width: 100%;
  height: 10%;
  text-align: center;
}

#gameboards {
  display: flex;
  width: 100%;
  height: 90%;
}

.gameboard-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
  height: 100%;
}

.board-and-deck-container {
  width: 100%;
  height: 75%;
  display: flex;
  gap: 1.5rem;
}

.fleet-deck {
  align-self: flex-end;
  width: 20%;
  height: 90%;
  /* border: 1px solid black; */
  margin-right: 1.5rem;
  display: grid;
  position: relative;
}



#player1fleet {
  grid:
    'carrier1 submarine1' 1fr
    'carrier1 submarine1' 1fr
    'carrier1 submarine1' 1fr
    'carrier1 destroyer1' 1fr
    'carrier1 destroyer1' 1fr
    'battleship1 .' 1fr
    'battleship1 cruiser1' 1fr
    'battleship1 cruiser1' 1fr
    'battleship1 cruiser1' 1fr
    / 1fr 1fr;
}

#player2fleet {
  grid:
    'carrier2 submarine2' 1fr
    'carrier2 submarine2' 1fr
    'carrier2 submarine2' 1fr
    'carrier2 destroyer2' 1fr
    'carrier2 destroyer2' 1fr
    'battleship2 .' 1fr
    'battleship2 cruiser2' 1fr
    'battleship2 cruiser2' 1fr
    'battleship2 cruiser2' 1fr
    / 1fr 1fr;
}

.ship {
  background-size: contain;
  background-position: center; /* Center the image within the element */
  background-repeat: no-repeat; /* Do not repeat the image */
  width: 100%;
  height: 100%;
  z-index: 2;
}

.ship.vertical {
  transform: rotate(0deg);
}

.ship.horizontal {
  transform: rotate(90deg);
}

#carrier1 {
  background-image: url(../media/carrier.png);
  grid-area: carrier1;
}

#battleship1 {
  background-image: url(../media/battleship.png);
  grid-area: battleship1;
}

#submarine1 {
  background-image: url(../media/submarine.png);
  grid-area: submarine1;
}

#destroyer1 {
  background-image: url(../media/destroyer.png);
  grid-area: destroyer1;
}

#cruiser1 {
  background-image: url(../media/cruiser.png);
  grid-area: cruiser1;
}


#carrier2 {
  background-image: url(../media/carrier.png);
  grid-area: carrier2;
}

#battleship2 {
  background-image: url(../media/battleship.png);
  grid-area: battleship2;
}

#submarine2 {
  background-image: url(../media/submarine.png);
  grid-area: submarine2;
}

#destroyer2 {
  background-image: url(../media/destroyer.png);
  grid-area: destroyer2;
}

#cruiser2 {
  background-image: url(../media/cruiser.png);
  grid-area: cruiser2;
}

.gameboard-grid {
  display: grid;
  grid-template: repeat(11, minmax(25px, 1fr)) / repeat(11, minmax(25px, 1fr));
  width: 80%;
  height: 100%;
}

.label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nabla';
  font-size: 3.3rem;
  text-shadow: 1px 1px rgb(118, 118, 118);
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-image: url(../media/sea-waving.gif);
  background-color: #00bcd4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.tile.hit {
  background-image: url(../media/fire-transparent-bg.gif);
}

/* Pseudo-elements for the lines of the 'X' */
.tile::before,
.tile::after {
  display: none;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 2px;
  background-color: red;
  transform-origin: center;
}

.tile::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.tile::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tile.missed::before {
  display: block;
  animation: scaleDown 0.3s ease-out;
}

.tile.missed::after {
  display: block;
  animation: scaleDownReverse 0.3s ease-out;
}

@keyframes scaleDown {
  from {
    transform: scale(1.5) translate(-35%, -25%) rotate(45deg);
  }
  to {
    transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes scaleDownReverse {
  from {
    transform: scale(1.5) translate(-35%, -25%) rotate(-45deg);
  }
  to {
    transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}
