* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 20rem;
  > form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

#title {
  margin-top: 2rem;
  width: 100%;
  height: 10%;
  text-align: center;
}

#gameboards {
  display: flex;
  width: 100%;
  height: 90%;
}

.gameboard-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
  height: 100%;
}

.board-and-deck-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.gameboard-grid {
  display: grid;
  grid-template: repeat(11, minmax(25px, 1fr)) / repeat(11, minmax(25px, 1fr));
  width: 80%;
  height: 100%;
}

.label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-image: url(../media/sea-waving.gif);
  background-color: #00bcd4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.tile.hit {
  background-image: url(../media/fire-transparent-bg.gif);
}

/* Pseudo-elements for the lines of the 'X' */
.tile::before,
.tile::after {
  display: none;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 2px;
  background-color: red;
  transform-origin: center;
}

.tile::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.tile::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.tile.missed::before {
  display: block;
  animation: scaleDown 0.3s ease-out;
}

.tile.missed::after {
  display: block;
  animation: scaleDownReverse 0.3s ease-out;
}

@keyframes scaleDown {
  from {
    transform: scale(1.5) translate(-35%, -25%)   rotate(45deg);
  }
  to {
    transform: scale(1) translate(-50%, -50%)  rotate(45deg);
  }
}

@keyframes scaleDownReverse {
  from {
    transform: scale(1.5) translate(-35%, -25%)   rotate(-45deg);
  }
  to {
    transform: scale(1) translate(-50%, -50%)  rotate(-45deg);
  }
}
